.form {
    &__title {
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
        text-transform: uppercase;
        color: #162833;
        span {
            font-size: 70px;
            text-transform: uppercase;
            color: #52B4EC;
            line-height: 120%;
        }
    }
    &__subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #162833;
    }
    &__list-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #162833;
        margin: 40px 0 20px;
    }
    &__ul,
    &__ol {
        padding-left: 10px;
        li {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #162833;
            padding-left: 15px;
            position: relative;
            min-height: 15px;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
    &__ul {
        li {
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                background: #B8EF42;
                border-radius: 50%;
                width: 5px;
                height: 5px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__ol {
        counter-reset: num;
        li {
            padding-left: 0;
            &:before {
                content: counter(num) ".";
                counter-increment: num;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                color: #52B4EC;
                margin-right: 5px;
            }
        }
    }
    &__p {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #162833;
        a {
            color: #52B4EC;
            &:hover {
                text-decoration: underline !important;
                color: #52B4EC;
            }
            &:active {
                color: #B8EF42;
                transition: all .0s;
                text-decoration: none !important;
            }
        }
    }
    &__groups {
        margin-top: 40px;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
}

.custom-form {
    .form__subtitle {
        margin-top: 20px;
    }
    .form__p {
        margin-top: 40px;
    }
    .form-select,
    .form-group {
        width: 245px;
    }
}

.form-group {
    position: relative;
    margin-bottom: 17px;
    input {
        border: 1px solid rgba(22, 40, 51, 0.2);
        border-radius: 10px;
        width: 100%;
        height: 50px;
        padding-left: 50px;
        padding-right: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #162833;
        transition: all .3s;
        &:hover {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        }
        &:focus {
            border: 1px solid #162833;
            &~svg {
                path {
                    fill: #162833;
                }
            }
        }
    }
    .input-filled {
        padding-top: 19.5px;
        &~label {
            color: rgba(22, 40, 51, 0.65);
            font-weight: 600;
            top: 9.5px;
        }
    }
    .input-error {
        border: 1px solid rgba(225, 54, 54, 0.75);
        &~svg {
            path {
                fill: #E13636;
            }
        }
    }
    &__error {
        position: absolute;
        top: 100%;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        color: #162833;
        margin-top: 5px;
        left: 0;
        color: rgba(225, 54, 54, 0.75);
    }
    &>svg {
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
    label {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: rgba(22, 40, 51, 0.65);
        position: absolute;
        left: 50px;
        top: 17.5px;
        pointer-events: none;
    }
}

.password-toggle {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    min-height: 18px;
    svg {
        width: 100%;
        height: auto;
        &:nth-child(2) {
            display: none;
        }
    }
}

.password-toggle--active {
    svg {
        &:nth-child(1) {
            display: none;
        }
        &:nth-child(2) {
            display: unset;
        }
    }
}

.form-select {
    .nice-select {
        float: unset;
        width: 100%;
        height: 50px;
        border: 1px solid rgba(22, 40, 51, 0.2);
        border-radius: 10px;
        padding: 0;
        &>span {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 0 16px;
        }
        &.open {
            border-radius: 10px 10px 0px 0px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        }
        .list {
            background: #FFFFFF;
            box-shadow: 0px 20px 40px rgba(22, 40, 51, 0.25);
            border-radius: 0px 0px 10px 10px;
            margin-top: 1px;
            padding: 10px 20px;
        }
        .option {
            padding: 15px 0;
            font-size: 12px;
            line-height: 15px;
            color: #162833;
            border-top: none;
            background-color: transparent !important;
            &:not(:last-child) {
                border-bottom: 1px solid rgba(22, 40, 51, 0.2);
            }
        }
    }
}

.form-switch {
    position: relative;
    input {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        &:checked {
            &+label {
                background: #B8EF42;
                &:before {
                    left: 43px;
                }
                &:after {
                    left: 10px;
                    right: unset;
                    content: attr(data-on);
                    color: #162833;
                }
            }
        }
    }
    label {
        min-height: 31px;
        width: 71px;
        border-radius: 15px;
        background: rgba(120, 120, 128, 0.16);
        position: relative;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            z-index: 2;
            background: #FFFFFF;
            border: 0.5px solid rgba(0, 0, 0, 0.04);
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
            width: 25px;
            height: 25px;
            border-radius: 50%;
            left: 2px;
            top: 50%;
            transform: translateY(-50%);
            transition: all .3s;
        }
        &:after {
            position: absolute;
            z-index: 1;
            content: attr(data-off);
            right: 10px;
            top: 55%;
            transform: translateY(-50%);
            height: 15px;
            width: 26px;
            text-align: right;
            font-weight: 500;
            font-size: 12px;
            color: rgba(22, 40, 51, 0.65);
            text-transform: uppercase;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 272px;
    height: 50px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    svg {
        margin-right: 20px;
    }
}

.btn-blue {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #52B4EC;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 5px 5px rgba(82, 180, 236, 0.2);
    border-radius: 10px;
    background-repeat: no-repeat;
    color: #fff;
    path {
        fill: #fff;
    }
    &:hover {
        color: #fff;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #52B4EC;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 10px rgba(82, 180, 236, 0.7);
    }
    &:active {
        background: linear-gradient(180deg, #162833 0%, rgba(22, 40, 51, 0) 100%), #52B4EC;
        box-shadow: none;
        transition: all 0s;
    }
}

.btn-red {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #E13636;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 5px 5px rgba(225, 54, 54, 0.2);
    border-radius: 10px;
    color: #fff;
    path {
        fill: #fff;
    }
    &:hover {
        box-shadow: 0px 0px 10px rgba(225, 54, 54, 0.7);
        color: #fff;
    }
    &:active {
        background: linear-gradient(180deg, #162833 0%, rgba(22, 40, 51, 0) 100%), #E13636;
        box-shadow: none;
        transition: all .0s;
    }
}

.btn-outline-black {
    background: transparent;
    border: 2px solid #162833;
    border-radius: 10px;
    color: #162833;
    path {
        fill: #162833;
    }
    &:hover {
        background: rgba(22, 40, 51, 0.2);
        border-color: transparent;
    }
    &:active,
    &:focus {
        background: #162833;
        color: #fff;
        path {
            fill: #fff;
        }
    }
}

.form-table {
    width: 100%;
    overflow-x: auto;
    filter: drop-shadow(0px 4px 10px rgba(206, 163, 115, 0.6));
    table {
        min-width: 1040px;
        border-radius: 8px;
        overflow: hidden;
    }
    thead {
        font-weight: bold;
        font-size: 12px;
        line-height: 180%;
        text-transform: uppercase;
        color: #FFFFFF;
        tr {
            background: #162833;
            border-radius: 8px 8px 0px 0px;
        }
        td:before {
            background: rgba(255, 255, 255, 0.2) !important;
        }
    }
    tbody {
        font-weight: 500;
        font-size: 12px;
        line-height: 180%;
        color: #162833;
        tr {
            background-color: #F8F9FB;
            transition: all .3s;
            &:nth-child(even) {
                background-color: #fff;
            }
            &:hover {
                background: rgba(184, 239, 66, 0.5);
            }
        }
    }
    td {
        height: 59px;
        padding: 0 8px;
        &:not(:last-child) {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                background: rgba(49, 57, 31, 0.1);
                height: calc(100% - 11px);
                right: 0;
                width: 1px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 40px;
    &__btn {
        &-prev {
            margin-right: 20px;
        }
        &-next {
            margin-left: 20px;
        }
        &:hover {
            path {
                fill: #52B4EC;
            }
        }
    }
    &__item {
        margin: 0 4px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 1px solid transparent;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #000;
        transition: all .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            border-color: #000;
        }
    }
    &__item--active {
        background: #52B4EC;
        color: #fff;
    }
}

.gallery-img {
    max-width: 790px;
    overflow-x: hidden;
    margin-top: 40px;
    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        background-color: transparent;
        &:hover {
            path {
                fill: #52B4EC;
            }
        }
    }
    .mySwiper2 {
        .swiper-slide {
            height: 375px;
            background: #C4C4C4;
            border-radius: 10px;
            img {
                border-radius: 0px;
            }
        }
    }
    .swiper-slide {
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
            height: 100%;
            border-radius: 10px;
        }
    }
    .mySwiper2 {
        width: 100%;
    }
    &__small {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        .swiper {
            width: calc(100% - 88px);
            overflow: hidden;
        }
        .swiper-slide {
            height: 100px;
            border-radius: 10px;
            position: relative;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                border: 5px solid #52B4EC;
                left: 0;
                top: 0;
                opacity: 0;
                transition: all .3s;
                border-radius: 10px;
            }
            &:after {
                content: '';
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 100%;
                background: #C4C4C4;
                opacity: 0.5;
                border-radius: 10px;
                left: 0;
                top: 0;
            }
            &:hover {
                &:after {
                    opacity: 0.5;
                }
            }
            .gallery-img__play {
                svg {
                    width: 30px;
                    height: auto;
                }
            }
        }
        .swiper-slide-thumb-active {
            &:before {
                opacity: 1;
            }
            &:after {
                opacity: 0 !important;
            }
            .gallery-img__play {
                display: none;
            }
        }
    }
    &__next,
    &__prev {
        flex-shrink: 0;
        position: static;
        margin-top: 0;
        transform: translate(0, 0);
        &:hover {
            path {
                fill: #52B4EC;
            }
        }
        &:after {
            display: none;
        }
    }
}

.gallery-video-slider {
    max-width: 1040px;
    .mySwiper2 {
        .swiper-slide {
            height: 525px;
        }
    }
    .swiper-slide {
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            opacity: 1;
            border-radius: 10px;
            left: 0;
            top: 0;
            background: linear-gradient(0deg, rgba(22, 40, 51, 0.5), rgba(22, 40, 51, 0.5)),
        }
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }
}

.form-news {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid rgba(22, 40, 51, 0.1);
    &__items {
        margin-top: 20px;
    }
    &__item {
        background: rgba(22, 40, 51, 0.1);
        border-radius: 10px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        &-show {
            background: #162833;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            height: 45px;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            &:hover {
                cursor: pointer;
                background: linear-gradient(0deg, rgba(184, 239, 66, 0.2), rgba(184, 239, 66, 0.2)), #162833;
            }
            i {
                display: none;
            }
            &-left {
                strong {
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
        &-show--active {
            background: transparent !important;
            color: #162833;
            i {
                display: unset;
            }
        }
        &-hidden {
            display: none;
            padding: 0 20px 15px 20px;
            &-inner {
                align-items: center;
                display: flex;
            }
        }
        &-img {
            width: 100px;
            height: 100px;
            flex-shrink: 0;
            margin-right: 20px;
            img {
                height: 100%;
                width: 100%;
            }
        }
        &-title {
            max-width: 606px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: #162833;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        &-date {
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: rgba(22, 40, 51, 0.65);
        }
        &-desc {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #162833;
            margin-top: 10px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

@media screen and (max-width: 1300px) {
    .form {
        &__title {
            font-size: 40px;
            line-height: 120%;
            span {
                font-size: 63px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .form {
        &__title {
            font-size: 37px;
            line-height: 120%;
            span {
                font-size: 53px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .form {
        &__title {
            font-size: 30px;
            line-height: 120%;
            span {
                font-size: 42px;
            }
        }
    }
    .gallery-img,
    .gallery-video-slider {
        .mySwiper2 {
            .swiper-slide {
                height: 340px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .form {
        &__title {
            font-size: 22px;
            span {
                font-size: 27px;
            }
        }
    }
    .form-news {
        &__item {
            &-hidden-inner {
                display: block;
            }
            &-img {
                margin-bottom: 10px;
            }
            &-title {
                font-size: 14px;
                -webkit-line-clamp: unset;
            }
            &-desc {
                -webkit-line-clamp: unset;
            }
        }
    }
    .gallery-img,
    .gallery-video-slider {
        .mySwiper2 {
            .swiper-slide {
                height: 250px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .gallery-img {
        &__small {
            .swiper-slide {
                height: 65px;
                &::before {
                    border-width: 3px;
                }
            }
            .swiper {
                width: calc(100% - 58px);
            }
        }
    }
    .gallery-img,
    .gallery-video-slider {
        .mySwiper2 {
            .swiper-slide {
                height: 190px;
            }
        }
    }
}